html,
figure {
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  color: #f7f4f1;
  background: #000000 url(../img/bg-main.jpg) no-repeat center top;
}

h1 {
    margin: 0 0 20px;
}

fieldset {
  border: none;
  margin:0;
  padding: 0;
}

h1,
.features-item h2,
.index-content-title {
  font-size: 30px;
  line-height: 42px;
  margin: 0 0 15px;
}

h2,
h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 21px;
}

/*fonts unification */
body,
.btn,
.login-form input,
.appointment-form input {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: 0;
  cursor: pointer;
}

.btn:hover {
  background-color: #663d15;
}

.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

a,
.footer-main a {
  text-decoration: none;
}

/* layout */
.container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

.block-user {
  float: right;
  max-width: 140px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-main {
  margin-bottom: 62px;
  color: #ffffff;
  background-color: #000000;
}

.header-inner {
  margin-bottom: 50px;
  color: #ffffff;
  background-color: #000000;
}

.login {
  position: relative;
  padding: 26px 20px 26px 50px;
  color: #ffffff;
}

.login::before {
  position: absolute;
  top: 28px;
  left: 20px;
  content: "";
  width: 18px;
  height: 18px;
  background: transparent url("../img/iconset.png") no-repeat;
  background-position: -1px -15px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.navigation-main {
  float: left;
  min-width: 825px;
}

.navigation-main ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.login,
.navigation-main li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.navigation-main a {
  display: block;
  padding: 26px 20px;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}

.navigation-main a:hover,
.login:hover {
  background-color: #242424;
}

.navigation-main .active {
  position: relative;
}

.navigation-main .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 5px;
  background-color: #ffffff;
}

a.logo-small:hover,
.active a:hover {
  background: none;
}

.active a {
  display: block;
  padding: 26px 20px;
  cursor: default;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 19px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 79px;
  text-align: center;
}

.features-item:nth-child(3n) {
  margin-right: 0;
}

.features-item h2 {
  position: relative;
  margin-bottom: 24px;
  padding-bottom: 35px;
}

.features-item h2::after {
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -10px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.index-content {
  padding: 45px 80px 50px 80px;
  margin-bottom: 35px;
  background:
    url("../img/content-shadow-splitter.png") no-repeat center, 
    #f9f6f3 url("../img/bg-pattern-light.png");
  color: #000000;
}

.index-content-title, 
.index-content p {
  margin: 0;
  margin-bottom: 20px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 30px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 20px;
}

.news-preview li:last-child {
  margin-bottom: 29px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  display: block;
  text-transform: none;
}

.gallery {
  position: relative;
  line-height: 0;
}

.gallery-content {
  height: auto;
  margin: 0 0 38px 0;
  border: 7px solid #ffffff;
  background-color: #cccccc;
}

.gallery-content img {
  width: 286px;
  height: auto;
}

a.btn-gallery-prev,
a.btn-gallery-next,
a.btn-contact-left,
a.btn-contact-right {
  display: inline-block;
  width: 140px;
  height: 22px;
  padding: 10px 0 12px;
  vertical-align: middle;
  text-align: center;
  background-color: #000;
  color: #ffffff;
  line-height: 24px;
}

a.btn-gallery-prev:hover,
a.btn-gallery-next:hover,
a.btn-contact-left:hover,
a.btn-contact-right:hover {
  background-color: #663d15;
}

a.btn-gallery-prev {
  float: left;
}

a.btn-gallery-next {
  float: right;
  
}

.btn-contact-left {
  margin-right: 20px;
}

.appointment-form input {
  float: left;
  width: 106px;
  padding: 7px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
  outline: 0;
  color: #000000;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  width: 100%;
  clear: both;
}

.footer-main {
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #242424 url("../img/bg-pattern-dark.png");
  color: #ffffff;
}

.footer-main a,
.footer-main a:visited,
.footer-main a:active {
  text-decoration: underline;
  color: #ffffff;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-main a:hover {
  text-decoration: none;
}

.footer-main p {
  margin-bottom: 15px;
}

.footer-social,
.footer-copyright p {
  text-align: center;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  background: #000000 url("../img/iconset.png") no-repeat center;
  transition: 
    background-position 0.2s,
    background-color 0.2s;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: 9px -447px;
}

.social-btn-fb {
  background-position: 15px -171px;
}

.social-btn-inst {
  background-position: 12px -313px;
}

.social-btn-vk:hover {
  background-position: 9px -381px;
}

.social-btn-fb:hover {
  background-position: 15px -100px;
}

.social-btn-inst:hover {
  background-position: 12px -242px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
  margin-right: 0;
}

.footer-copyright a {
  text-decoration: none;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;
  display: none;
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;
  color: #000000;
  z-index: 10;
  background: #f8f3f0 url("../img/bg-pattern-light.png");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-close {
  position: absolute;
  top: 6px;
  right: -31px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 22px;
  height: 4px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.modal-content-map {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -390px;
  z-index: 20;
  width: 766px;
  height: 561px;
  background: #e9e5dc url("../img/static-map.jpg") no-repeat 50% 50%;
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-show {
  display: block;
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 241px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-right: 40px;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: 0;
}

.login-form input:focus {
  border-color: #663d15;
}

input.icon-user {
  background-image: url("../img/iconset.png");
  background-repeat: no-repeat;
  background-position: 100% -504px;
}

input.icon-password {
  background-image: url("../img/iconset.png");
  background-repeat: no-repeat;
  background-position: 100% -45px;
}

.login-form .restore {
  float: right;
  color: #000000;
  text-decoration: underline;
}

.login-form .restore:hover {
  float: right;
  color: #000000;
  text-decoration: none;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
/*the end of the index page css */

/* inner pages styles */

.footer-inner {
  margin-top: 15px;
  box-shadow: inset 0px 21px 40px -15px #000000;
}

.inner-page {
  background: #f9f6f3 url("../img/bg-pattern-light.png");
  color: #000000;
}

.logo-small {
  float: left;
  height: 20px;
}

.heading-section {
margin-bottom: 47px;
}

.heading-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.heading-breadcrumbs li {
  position: relative;
  display: inline;
  vertical-align: top;
  padding-right: 40px;
}

.heading-breadcrumbs li:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 18px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.heading-breadcrumbs-active {
  color: #aba9a7;
}

.heading-breadcrumbs-active::after {
  display: none;
}

.heading-breadcrumbs a,
.heading-breadcrumbs a:visited {
  color: #000000;
}

.heading-breadcrumbs a:hover {
  text-decoration: underline;
}

.line-through {
  text-align: center;
  margin-bottom: 59px;
}

.line-through h2 {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0 25px;
  background: #f9f6f3 url("../img/bg-pattern-light.png") repeat;
}

.line-through::after {
  position: relative;
  top: -25px;
  content: "";
  z-index: 1;
  display: block;
  border-bottom: 2px solid #000000;
}


.inner-columns {
  margin: 60px 0;
}

.inner-content-left {
  float: left;
  width: 460px;
}

.inner-content-right {
  float: right;
  min-width: 460px;
}

h2.inner-content-title,
h3.inner-content-title {
  display: block;
  width: 300px;
  margin-bottom: 30px;
}

.inner-content-list {
  margin: 0;
  margin-top: -5px;
  padding: 0;
  list-style: none;
}

.inner-content-list li {
  position: relative;
  margin-bottom: 0;
  padding-left: 21px;
}

.inner-content-list li::before {
  position: absolute;
  top: 9px;
  left: 2px;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #000000;
  transform: rotate(45deg);
}

.inner-content-features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-content-features li {
  position: relative;
  line-height: 22px;
  margin-bottom: 13.5px;
  padding-left: 20px;
}

.inner-content-features li::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.inner-content-left p,
.inner-content-right p {
  max-width: 390px;
}

.inner-content-left *:first-child,
.inner-content-right *:first-child {
  margin-top: 0;
}

.inner-content-left *:last-child,
.inner-content-right *:last-child {
  margin-bottom: 0;
}

.inner-content-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.inner-content-row {
  display: table-row;
}

.inner-content-cell {
  display: table-cell;
  border: 2px solid #000000;
  padding: 8px 15px 7px;
  width: 50%;
}

.inner-content-cell:nth-child(2n) {
  text-align: center;
}

/*catalog*/
.catalog-section {
  float: left;
  margin-top: 0;
  min-width: 180px;
}

.catalog-producers h3 {
  margin-bottom: 25px;
}

.catalog-content {
  float: right;
  margin-bottom: 22px;
  padding-top: 5px;
  width: 700px;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  vertical-align: top;
  background-color: #fff;
}

.catalog-item,
.product-photo-big,
.product-photo-small img {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.catalog-item:hover,
.product-photo-small img:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-producers .filter {
  padding-top: 0;
  margin-top: 0;
}

.checkbox-filter {
  position: relative;
  display: block;
  padding-left: 43px;
  margin-bottom: 13px;
  cursor: pointer;
  vertical-align: top;
}

.radio-filter {
  position: relative;
  display: block;
  padding-left: 43px;
  margin-bottom: 13px;
  cursor: pointer;
  line-height: 24px;
  vertical-align: top;
}

.login-checkbox:hover,
.checkbox-filter:hover {
  color: #663d15;
}

.login-form input[type="checkbox"],
.filter-producer input[type="checkbox"],
.filter-type input[type="radio"] {
  display: none;
}

.login-checkbox input[type="checkbox"] + .checkbox-imitation,
.filter-producer input[type="checkbox"] + .checkbox-imitation {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-imitation::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-imitation::after,
.filter-producer input[type="checkbox"]:checked + .checkbox-imitation::before,
.filter-producer input[type="checkbox"]:checked + .checkbox-imitation::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
  width: 14px;
  height: 2px;
  background-color: #000000;
}

.filter-type input[type="radio"] + label.radio-filter:before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  content:"";
  display: block;
  border-radius: 50%;
  border: 2px solid #000000;
}

.filter-type input[type="radio"]:checked + label.radio-filter:before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  content:"";
  display: block;
  border-radius: 50%;
  border: 2px solid #000000;
  box-shadow: 
    inset 0 0 0 4px #f9f6f3,
    inset 0 0 0 8px #000000;
}

.filter-producer {
  position: relative;
  display: block;
  max-width: 200px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 33px;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-imitation::before,
.checkbox-filter input[type="checkbox"]:checked + .checkbox-imitation::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-imitation::after,
.checkbox-filter input[type="checkbox"]:checked + .checkbox-imitation::after {
  transform: rotate(-45deg);
}

.checkbox-filter input[type=checkbox]:disabled + label.checkbox-filter {
    border-color: #aeacaa;
}

.filter-type {
  display: block;
  max-width: 200px;
  margin-bottom: 30px;
}

.item-price span,
.product-price span {
  display: inline-block;
  width: 109px;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  vertical-align: top;
  background-color: #e5e5e5;
}

.btn-buy {
  padding-right: 19px;
  padding-left: 18px;
  font-size: 14px;
}

.item-price {
  margin: 0 0 16px 16px;
  font-size: 0;
}

.catalog-item-details img {
  width: 220px;
  height: 165px;
}

.catalog-item-details h4 {
  margin: 0;
  margin-top: 6px;
  margin-left: 16px;
  line-height: 18px;
  text-transform: none;
}

.catalog-item-details div {
  margin-left: 16px;
  line-height: 18px;
  margin-bottom: 13px;
}

a.catalog-item-details,
a.catalog-item-details:visited {
  color: #000000;
}

a.catalog-item-details:hover {
  color: #663d15;
}

.navigation-page {
  margin: 0;
  margin-left: 241px;
  margin-bottom: 49px;
  padding: 0;
}

.navigation-page li {
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  list-style: none;
  font-size: 0;
}

.navigation-page a {
  display: inline-block;
  width: 42px;
  padding: 13px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #000000;
}

.navigation-page a:hover {
  background-color: #663d15;
}

.navigation-page .active-page {
  color: #000000;
  background-color: #ffffff;
}

.navigation-page .active-page:hover {
  background-color: #ffffff;
}

.product-photo-big,
.product-photo-small {
  display: inline-block;
  max-width: 460px;
  max-height: 498px;
  font-size: 0;
}

.product-photo-small {
  display: block;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.product-photo-small img {
  margin-right: 20px;
  margin-bottom: 8px;
}

.product-photo-small img:nth-child(3n) {
  margin-right: 0;
}

.product-photo-big {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
}

.inner-content-column {
  float: left;
  width: 480px;
}

.inner-content-column-right {
  float: right;
  width: 390px;
}

.product-status {
  margin-bottom: 30px;
  margin-top: 25px;
}

.product-available {
  float: left;
  margin: 0;
}

.product-article {
  float: right;
  margin: 0;
  padding-right: 10px;
  color: #aba9a7;
  text-align: right;
}

.product-price {
  margin: 0;
  font-size: 0;
  margin-bottom: 63px;
}

p.product-description {
  margin-bottom: 35px;
}

img {
  max-width: 100%;
  height: auto;
}